:root {
	--bg: #fafafa;
	--card: #ffffff;
	--muted: #666;
	--border: #eaeaea;
	--accent: #4f46e5;
}

@font-face {
	font-family: "Roboto";
	src: url(../font/Roboto/Roboto-VariableFont.ttf) format("truetype");
}

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	background: var(--bg);
	color: #000;
}
